In [1]:
import numpy as np
import pandas as pd

In [2]:
#importing movies dataset

In [27]:
df_movies=pd.read_csv(r"C:\Users\Vishnu\Downloads\movie_data\movies.csv")
df_tags=pd.read_csv(r"C:\Users\Vishnu\Downloads\movie_data\tags.csv")
df_links=pd.read_csv(r"C:\Users\Vishnu\Downloads\movie_data\links.csv")

In [4]:
df_movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [5]:
# shape of movies dataset

In [6]:
df_movies.shape

(9742, 3)

In [7]:
#importing ratings dataset

In [8]:
df_ratings=pd.read_csv(r"C:\Users\Vishnu\Downloads\movie_data\ratings.csv")

In [9]:
df_ratings

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [10]:
df_ratings.shape

(100836, 4)

In [11]:
#To Find unique userid in ratings dataset

In [12]:
unique_id=df_ratings['userId'].unique()

In [13]:
unique_id.size

610

In [14]:
#to find which movie has recieved max no of user ratings

In [21]:
movie_data = pd.merge(df_movies,df_ratings)

In [23]:
ratings = movie_data.groupby('title').size()

In [28]:
df_tags

      userId  movieId               tag   timestamp
0          2    60756             funny  1445714994
1          2    60756   Highly quotable  1445714996
2          2    60756      will ferrell  1445714992
3          2    89774      Boxing story  1445715207
4          2    89774               MMA  1445715200
...      ...      ...               ...         ...
3678     606     7382         for katie  1171234019
3679     606     7936           austere  1173392334
3680     610     3265            gun fu  1493843984
3681     610     3265  heroic bloodshed  1493843978
3682     610   168248  Heroic Bloodshed  1493844270

[3683 rows x 4 columns]